.six-section-container {
  /* background-image: url("/shop_img6.jpg"); */
  background: linear-gradient(0deg, rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
    url("/shop_img6.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.six-section-description-container {
  padding: 2.5% 0;
  text-align: center;
  color: white;
}

.six-section-reserve-container {
  margin: 0 20%;
}

.six-section-reserve-container button {
  width: 100%;
  background-color: #ad2f5b;
  border-color: #ad2f5b;
  color: white;
  padding: 20px 0px;
}
.six-section-reserve-container button:hover {
  cursor: pointer; /* カーソルをポインターに */
  background-color: black; /* ホバー時の背景色 */
  border-color: black;
  color: white;
}

.six-section-contact-container {
  display: flex;
  margin: 1% 20% 0 20%;
  padding-bottom: 3%;
}

.six-section-contact-container button {
  width: 50%;
  padding: 20px 0;
}
.six-section-contact-container button:hover {
  cursor: pointer; /* カーソルをポインターに */
  background-color: black; /* ホバー時の背景色 */
  color: white;
}

.six-section-phone-button {
  margin-left: 1%;
}

.six-section-phone-button:hover {
  cursor: pointer; /* カーソルをポインターに */
  background-color: black; /* ホバー時の背景色 */
  color: white;
}

@media (max-width: 1200px) {
  .six-section-contact-container {
    flex-direction: column;
  }
  .six-section-phone-button {
    margin-top: 2%;
    margin-left: 0;
  }
  .six-section-contact-container button {
    width: 100%;
  }
}
