.first-section-container {
  margin: 20px 30px;
}

.first-section-title {
  text-align: center;
}

.news-container {
  /* height: 200px; */
  display: flex;
  /* align-items: center; /* 縦方向の中央揃え */
  /* justify-content: center; 横方向の中央揃え */
}

.news-container ul {
  width: 90%;
}

.news-container li {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.news-container .li-last {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: none;
  border-right: none;
}

.news-container li p {
  padding: 0 20px;
}

.news-container li .new-info {
  padding: 0 10px;
  color: white;
  background-color: black;
}
