.five-section-container {
  display: flex;
  margin: 50px 50px;
}
.five-section-shop-container {
  width: 50%;
  margin: 50px 50px;
}
.five-section-image-container {
  width: 50%;
}

.five-section-shop-container button {
  padding: 20px 40px 20px 40px;
  color: white;
  background-color: black;
}

.five-section-shop-image {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .five-section-container {
    flex-direction: column;
  }
  .five-section-image-container,
  .five-section-shop-container {
    width: 100%;
  }

  .five-section-shop-container {
    margin: 20px 0;
  }
}
